.club{
    width: 100%;
    height: 260vh;
    background-color: rgb(251, 246, 246);
    display: flex;
    flex-flow: column wrap;
    .club__center{
        width: 80%;
        height: 600px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        border-radius: 15px;
        margin-right:140px;
        .bashgah__moshtari{
            width: 95%;
            height: 100%;
            display: flex;
            flex-flow: column wrap;
            .bashgah__moshtari__top{
                width: 100%;
                height: 10%;
                font-family: var(--shabnam);
                font-size: 14px;
                color: #757575;
                padding-top: 20px;

            }
        }
            .bashgah__moshtari__buttom{
                width: 100%;
                height: 85%;
                display: flex;
                flex-flow: column wrap;
                
                img{
                    width: 100%;
                    height: 70%;
                    border-radius: 15px;
                }
                .matn{
                    font-family: var(--shabnam);
                    font-size: 15px;
                    margin-top: 10px;
                }
                 .matn__2{
                    font-family: var(--shabnam);
                    font-size: 15px;
                    margin-top: 15px;
                }
            }
        
    }
    .satheboronz{
        width: 80%;
        height: 175x;
        background-color: #ffffff;
        margin-right: 140px;
        margin-top: 15px;
        border-radius: 15px;
        display: flex;
        .boroz__pic{
            width: 98%;
            height: 100%;
            display: flex;
            img{
                width: 100px;
                height: 90%;
                padding-right: 20px;
                padding-top: 10px;
            }
            .boroz__ghoto{
                width: 13%;
                display: flex;
            }
            .satheboroz__para{
                width: 87%;
                height: 100%;
                display: flex;
                flex-flow: column wrap;
                .para{
                    font-family: var(--shabnam);
                    justify-content: start;
                    padding-top: 10px;
                    color: #a64b24;
                    font-weight: bold;
                    font-size: 21px;
                }
                .st{
                    font-family: var(--shabnam);
                    padding-top: 10px;
                    color: #757575;
                    font-size: 14px;
                }
                .stt{
                    font-family: var(--shabnam);
                    padding-top: 10px;
                    color: #757575;
                    font-size: 14px;
                }
            }
        }
    }
    .ertegha{
        width: 100%;
        height: 160px;
        display: flex;
        .erteghayafte{
            width: 25%;
            height: 30%;
            background-color: #0a295a;
            border-radius: 5px;
            color: #ffffff;
            margin: 50px auto;
        .erteghaa{
            font-family: var(--shabnam);
            margin-top: 12px;
            margin-right: 55px;
        }
        }
    }
     
}