.dastresi{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .dastresi__top{
        width: 75%;
        height: 90%;
        font-family: var(--shabnam);
        font-weight: bold;
        font-size: 20px;
        color: #000000de;
    }
    .dastresi__bottom{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
       .dastresi__right{
        width: 25%;
        height: 70;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
       }
        img{
            width: 60px;
             padding-top: 50px;
            padding-right: 20px;
        }
        .text{
            font-size: 14px;
            color: gray;
            font-family: var(--shabnam);
            justify-content: center;
            align-items: center;
        }
        .text__right{
            font-size: 14px;
            font-weight: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000de;
            line-height: 25px;

        }
    }
}
