.dicount{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    .discount__center{
        width: 80%;
        border-radius: 20px;
        height: 90%;
        background-color: gainsboro;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .discount__center__top{
            width: 100%;
            height: 15%;
            display: flex;
            .text{
                width: 70%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                padding-right: 40px;
                column-gap: 10px;
                span{
                    font-family: var(--shabnam);
                    font-size: 30px;
                    font-weight: bold;
                    color: grey;
                }
            }
                 .countdown{
                    width: 30%;
                    height: 100%;
                    font-family: var(--pernum);
                    color: gray;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    box-sizing: border-box;
                    padding-left: 20px;
                    font-size: 20px;
                    font-weight: bold;
            }
 
        }
                   .discount__center__bottom{
                width: 95%;
                height: 80%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                .discount__center__bottom__item{
                    width: 30%;
                    height: 100%;
                    background-color: #ffffff;
                     display: flex;
                     flex-flow: column wrap; 
                     align-items: center;
                     padding: 20px;
                     box-sizing: border-box;
                      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
          0 1px 2px 0 rgba(0, 0, 0, 0.06);
                     border-radius: 20px;
                     gap: 10px;
                     transition: 300ms;
                     &:hover{
                        box-shadow: 0  0 16px 0 var(--black-16);
                     }
                     img{
                        width: 250px;
                     }
                     p{
                        font-family: var(--shabnam);
                        font-size: 16px;
                        line-height: 30px;
                     }
                     .offer{
                        width: 100%;
                        height: 20%;;
                       display: flex;
                       justify-content: space-between;
                       padding: 10px;
                       box-sizing: border-box;
                       align-items: end;
                       .before{
                        font-family: var(--pernum);
                        text-decoration: 1.5px solid line-through gray;
                        color: gray;
                       }
                       .after{
                        font-family: var(--pernum);
                        font-size: 14px;
                        font-weight: bold;
                        color: red;
                       }
                     }
                       .mainprice {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: start;
                        justify-content: end;
                        padding: 10px;
                        box-sizing: border-box;
                        font-family: var(--pernum);
                        column-gap: 5px;
                        span{
                            color: blue;
                            font-weight: bold;
                            font-size: 18px;
                        }   
                        .moft{
                            color: #3b3b3b;
                            font-size: 14px;
                            font-family: var(--shabnam);
                            font-weight: normal;
                            margin-top: 5px;
                        }    
                 }

                }
                       .discount__center__bottom__items{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    gap: 20px;
                    .products{
                        width: 100%;
                        height: 30%;
                        background-color: #ffffff;
                        border-radius: 20px;
                        display: flex;
                    flex-flow: row wrap;
                      .image {
                        width: 35%;
                        
                        img {
                         width: 100% ;
                         height: 100%;
                         border-radius: 0 20px 20px 0;  
                         object-fit: cover;
                               
                }
                }
                .text{
                    width: 65%;
                    height: 100%;
                    border-radius: 20px 0 0 20px;
                    padding: 16px;
                    box-sizing: border-box;
                    p{
                        font-family: var(--shabnam);
                        line-height: 28px;
                        font-size: 15px;
                    }
                    div{
                        width: 100%;
                        height: 15%;
                        padding: 10px;
                        box-sizing: border-box;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        .befor{
                        font-family: var(--pernum);
                        text-decoration: 1.5px solid line-through gray;
                        color: gray;
                       }
                        .after{
                        font-family: var(--pernum);
                        font-size: 12px;
                        font-weight: bold;
                        color: red;
                       }
                    }
                     .mainprice {
                        width: 100%;
                        height: 10%;
                        display: flex;
                        flex-flow: row wrap;
                        align-items: start;
                        justify-content: end;
                        padding: 10px;
                        box-sizing: border-box;
                        font-family: var(--pernum);
                        column-gap: 5px;
                        span{
                            font-weight: bold;
                            font-size: 18px;
                        }   
                        .moft{
                            color: #3b3b3b;
                            font-size: 14px;
                            font-family: var(--shabnam);
                            font-weight: normal;
                            margin-top: 5px;
                        }    
                 }

                }
             
            }
        
        }
    }
}
}