.footer{
    width: 100%;
    height: 45px;
    background-color: rgb(37, 37, 252);
     display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    span{
        color: #ffffff;
        font-size: 14px;
        font-family: var(--shabnam);
    }
}