body {
  overflow-x: hidden;
}
.header{
     width: 100%;
    height: 116px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),0 1px 2px 0 rgba(0, 0, 0, .06);
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1000;
      .headercenter{
           width: 80%;
            height: 100%;
            .headertop{
                width: 100%;
                height: 70px;
                display: flex;
                flex-flow: row wrap;
                .logo{
                    width: 10%;
                    height:100%;
                    display: flex;
                    justify-content: start;
                    padding-right: 3px;
                    box-sizing: border-box;
                    align-items: center;
                    img{
                        width: 96px;  
                    }
                }
                .saerch{
                    width: 25%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .searchcenter{
                        width: 90%;
                        height: 40%;
                        background-color:rgb(247, 248, 250);
                        border-radius: 5%;
                        box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                         
                        .label{
                           font-size: 30px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           column-gap: 5px;
                          
                        }
                        #search{
                            width: 85%;
                            height: 100%;
                            background-color: transparent;
                            font-size: 14px;                    
                            border: unset;
                            outline: unset;
                             font-family: var(--shabnam);
                             &::placeholder {
                                font-size: 12px;
                             }
                        }
                    }
                }
                .info{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    column-gap: 15px;
                    padding: 10px;
                    box-sizing: border-box;
                    a{
                        text-decoration: none;
                        font-family: var(--shabnam);
                        color: #a3a3a3;
                        height: 100%;
                        padding: 0;
                        line-height: 60px;
                        font-size: 12px;
                        transition: 300ms;
                        &:hover {
                            font-weight: bold;
                            color: var(--hovertext);
                        }
                    }
                }
                .login{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: end;
                    padding-left: 3px;
                    column-gap: 15px;
                    box-sizing: border-box;
                    .basket{
                        width: 40px;
                        height: 40px;
                        background-color:#f7f8fa;
                        border-radius: 15px;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),0 1px 2px 0 rgba(0, 0, 0, .06);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transition: 200ms;
                        position: relative;
                        .test{
                          transition: 200ms;
                           &:hover .ax1{
                            fill: #0a295a;
                        }
                           &:hover .ax2{
                            fill: #0a295a;
                        }
                           &:hover .ax3{
                            fill: #0a295a;
                        }
                        }
                        .circle{
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: #fe5f55;
                            color: whitesmoke;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                             font-family: var(--pernum);
                             position: absolute;
                             right: -5px;
                             bottom: 30px;
                             box-shadow: 0 0 6px #2c5282;
                        }
                    }
                    .loginmain{
                        width: 100px;
                        height: 35px;
                        background:#0a5abd;
                        border-radius: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        transition: 300ms;
                        &:hover{
                            background-color:#0a295a;
                        }
                        span{
                            font-family: var(--shabnam);
                            color: whitesmoke;
                            font-size: 10px;
                        }
                    }
                }
            }
            .menu {
      width: 100%;
      height: 50px;
      position: relative;
      .menuItem {
        width: auto;
        height: 56px;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        padding: 0 10px;
        margin-top: 9px;    
        .menuItemDiv {
          width: fit-content;
          height: 100%;
          display: flex;
          padding: 0 10px;
          line-height: 40px;
        gap: 2px;
          align-items: center;
          position: relative;
         z-index: 10;
               &:hover{
            overflow: visible;
         }
                     &:hover .line{
                right: 0;
                display: block;
            }
         .line{
            width: 100%;
            height: 1.2px;
            position: absolute;
            bottom: 18px;
            left: 50px;
            background-color: crimson;
            transition: 300ms;
            display: none;
         }       
          .menuItemDivLink {
            width: 100%;
            height: 100%;
            display: block;
            font-family:var(--shabnam);
            line-height:24px;
          font-size: 13px;
          padding-left: .75rem;
          padding-top: 16px;
          padding-bottom: 1rem;
           color:#757575;
          text-decoration: none;
            direction:rtl;
          background-color: transparent;
           transition: 200ms;
            &:hover {
              color: #FE5F55;
             border-bottom-color:#FE5F55;
            }
          }
          .menuItemDivLinkSubmenu {
           width: 280px;
            height: fit-content;
            transition: 300ms;
            display: none;
            position: absolute;
            background-color: #f7f7f7;
            padding: 0;
            top: 70%;
            right: 0%;
             box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1);
            border-radius: 4px;
               border: 0.9px solid rgb(226, 221, 221);
            div {
              width: auto;
              height: 40px;
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              align-items: center;
              line-height: 30px;
              margin-bottom: 1px;
              position: relative;
              box-sizing: border-box;
              transition: 0.3s;
              &:hover {
                background-color: #ebebeb;
                  }       
              a {
                 width: 330px;
              height: 42px;
                color: rgba(0, 0, 0, .6);
               text-decoration: none;       
               font-family: var(--shabnam);
                font-size: 12px;
                direction: rtl;
                transition: 0.3s;
                padding: 12px;
          &:hover {
                color: #0A5ABD;
            }       
                
          }
              .menuItemDivLinkSubmenuItem {
              width: 330px;
              height: auto;
              background-color:#f7f7f7;   
              position: absolute;
                right:100%;
                top: 0;
                display: none;
                transition: 200ms;
                border-bottom-left-radius: 4px;
               border-top-left-radius: 4px;
               margin-right: 0.1px;
                box-shadow: 0 1px 3px 0 rgb(0.1, 0.1, 0.1, 0.1);
                   border: 0.9px solid rgb(226, 221, 221);
                span{
                  width: 323px;
              height: 42px;
                cursor: pointer;
                color: rgba(0, 0, 0, .6);
               display: block;     
               font-family: var(--shabnam);
                font-size: 12px;
                padding-right: 7px;
                  &:hover {
                 color: #0A5ABD;
                background-color: #ebebeb;
                  } 
                
                }
              }
               &:hover .menuItemDivLinkSubmenuItem {
                display: block;
               }
            }
          }
          &:hover .menuItemDivLinkSubmenu  {
           display: block;
          } 
           &:hover .menuItemDivLinkSubmenu-brand  {
           display: block;
          } 
          .menuItemDivLinkSubmenu-brand {
           width: 1237px;
           height: 259px;
            transition: 300ms;
            position: absolute;
           background-color: #f0efef;
            top: 100%;
            left: 0;
            border-radius: 4px;
            display: none;            
            .submenu-brand{
              width: 1237px;
              height: 216px;
               display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            }
            .submenu-brandItem{
              width: 246.4px;
              height: 216px;
                border-left: 1px solid #75757559;
                box-sizing: border-box;
              div{
                position: relative;
                width:246.4px;
                height: 34px;
                color: rgba(0, 0, 0, .6);     
               font-family: var(--shabnam);
                font-size: 12px;
                direction: rtl;
                transition: 0.3s;
                display: flex;
                flex-flow: row wrap;
                box-sizing: border-box;
              
                a{
                   width:246.4px;
                height: 34px;
                     color: rgba(0, 0, 0, .6);
               text-decoration: none;       
               font-family: var(--shabnam);
                font-size: 12px;
                padding: .5rem;
                display: flex;
               gap: 6px;
                align-items: center;
                 &:hover {
                 color: #0A5ABD;
                background-color: #ebebeb;
                  } 
                }
              }
            }
            .submenu-brand-more{
              width: 1237px;
              height: 43px;
              border-top: 1px solid #75757559;
             
              
              a{
                
                 color: #FE5F55;
               text-decoration: none;       
               font-family: var(--shabnam);
                font-size: 0.75rem;
                direction: rtl;
                transition: 0.3s;
                padding: 12px;
                 &:hover {
                 color: #0A5ABD;
            
                  } 
               
              }
            }
      }
    #brand-hover :hover .menuItemDivLinkSubmenu-brand {
      display: block;
    }
    }
    ::-webkit-scrollbar{
      width: 10px;
    }
    ::-webkit-scrollbar-thumb{
      width: 5px;
      height: 50px;
      background-color: #757575;
      border-radius: 10px;

    }
    ::-webkit-scrollbar-track{
      background-color: #fe5f55;
    }


    
  }
  }
                }
            }
        
           
      
    