.info{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
 .info__maine{
    width: 75%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
 }
 .info__right{
    width: 20%;
    height: 60%;
      display: flex;
        flex-flow: row wrap;
        justify-content: start;
        align-items: center;
        
    img{
        width: 180px;
        
    }
   .info__down{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
     img{
        width: 20px;
        padding-right: 45px;
    }
   }
   h3{
    font-family: var(--shabnam);
    color: #000000de;
    font-weight: normal;
    font-size: 14px;
   
   }
 }
 .para{
    width: 50%;
    height: 100%;
     display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .para__top{
        width: 100%;
        height: 12%;
        display: flex;
        flex-flow: row wrap;
        h2{
            font-family: var(--shabnam);
            font-size: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            align-items: center;
            color: rgba(0, 0, 0, .87);

        }
    }
    .para__center{
        width: 100%;
        height: 88%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        h4{
            font-family: var(--shabnam);
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: rgba(0, 0, 0, .6);

        }
    }
    .para__left{
        width: 25%;
        height: 100%;
        .para__toping{
            width: 100%;
            height: 12%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            
               h2{
            font-family: var(--shabnam);
            color: rgba(0, 0, 0, .87);
            font-size: 16px;
            font-weight: bold;
        }
        }
        .para__down{
            font-family: var(--shabnam);
            line-height: 33px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            color: #757575;
            font-size: 12px;
            font-weight: normal;
            
        }
     
    }
    .enama{
        width: 35%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
        align-items: center;
        img{
            width: 150px;
            height: 150px;
        }
    }
 }
}