.login-page {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;



    .login-page-item {
        width: 361px;
        height: 450px;
        background-color: #F7F8FA;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        border-radius: 0.75rem;
        box-sizing: border-box;
        flex-flow: row wrap;

        .part-1 {
            height: 133.164px;
            width: 361px;
            padding-bottom: 16px;
            padding-top: 16px;
            box-sizing: border-box;
            padding-left: 5px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .04), 0 1px 2px 0 rgba(0, 0, 0, .04);

            .close {
                display: flex;
                justify-content: flex-end;
            }

            .logo {
                width: 361px;
                height: 68.16px;
                display: flex;

                img {
                    width: 160px;
                    height: 68.16px;
                    margin-left: auto;
                    margin-right: auto
                }

            }

        }

        .part-2 {

            text-align: right;
            padding: 10px;
            font-family: shabnam, sans-serif;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;



            h2 {
                font-size: 18px;
                margin-bottom: 16px;
                font-family: var(--shabnam);
                margin-bottom: .875rem;

            }

            .description {
                font-size: 14px;
                font-family: var(--shabnam);
                font-weight: lighter;
                margin-bottom: 20px;
                line-height: 2rem;
            }

            [type="tel"] {
                width: 280px;
                height: 6px;
                padding: 16px;
                border-color: #D1D5DB;
                border-radius: 0.75rem;
                margin-bottom: 20px;
                font-size: 14px;
                outline: none;
                font-family: var(--shabnam);
                border-width: 1px;
                font-size: 14px;
                text-align: right;
                position: relative;
            }

            [type="tel"]::placeholder {
                transition: 0.3s;
            }

            [type="tel"]:focus::placeholder {
                transform: translateY(-10px);
                font-size: 12px;
                color: #2C5282;
            }
        }

        button[type="submit"] {
            width: 310px;
            height: 34px;
            padding: 8px;
            text-align: center;
            font-family: var(--shabnam);
            background-color: #2f80ed;
            color: #fff;
            border: none;
            border-radius: 0.75rem;
            font-size: 15px;
            opacity: 0.7;
            padding-bottom: 5px;
            transition: 0.3s;

            &:hover {
                background-color: #2565c7;
            }
        }

        .terms {
            margin-top: 20px;
            font-size: 12px;
            font-family: var(--shabnam);
        }

        .terms a {
            color: #2f80ed;
            font-size: 12px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-login {
    width: 100%;
    height: 53px;
    background-color: #2C5282;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;

    a {
        text-decoration: none;
        color: white;
        font-size: .875rem;
        font-weight: 700;
        font-family: shabnam;
    }


}