.popular {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    .popular-center {
        width: 75%;
        height: 100%;
        justify-content: start;
        align-items: start;
        flex-flow: column wrap;
        display: flex;
        position: relative;

        h6 {
            bottom: 50px;
            font-family: var(--shabnam);
            font-size: 22px;
            color: #757575;
            font-weight: bold;
        }

        .popular-slider {
            width: 100%;
            height: 80%;
            .swiper {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            transition: transform 0.4s ease-out;
            &:hover{
                transform: translateY(-10px);
            }
            }
            .swiper-slide img {
                display: block;
                width: 88%;
                height: 50%;
                object-fit: contain;
                margin: 16px 0px;
                padding: 6px;
                border: #c6c5c5;
                border-radius: 15px;
                box-shadow: 0 2px 10px #ebeaea;
                transition: 300ms;
            }

        }
    }

    .swiper-button-next {
        width: 25px;
        height: 25px;
        background-color: aliceblue;
        border-radius: 50%;
        transform: 200ms;
        border: 0.9px solid rgb(226, 221, 221);
        background-color: #ffffff;
        display: flex;
        position: absolute;
        bottom: -10px;
        right: -400px;
        box-sizing: border-box;
        &:hover {
            background-color: grey;
        }

        &:hover svg {
            color: whitesmoke;
        }

        svg {
            color: grey;
            width: 10px;
            height: 10px;
        }
    }

    .swiper-button-prev {
        width: 25px;
        height: 25px;
        background-color: aliceblue;
        border-radius: 50%;
        transform: 200ms;
        border: 0.9px solid rgb(226, 221, 221);
        background-color: #ffffff;
        display: flex;
        position: absolute;
        left: 1px;
        box-sizing: border-box;
        right: -20px;
        &:hover {
            background-color: grey;
        }

        &:hover svg {
            color: whitesmoke;
        }

        svg {
            color: grey;
            width: 10px;
            height: 10px;
        }
    }
}