 @import "./seting.css";
 @import "./header.css";
 @import "./banner.css";
 @import "./discount.css";
 @import "./category.css";
 @import "./now.css";
 @import "./dastresi.css";
 @import "./logo.css";
 @import "./recntly.css";
 @import "./scorol.css";
 @import "./info.css";
 @import "./footer.css";
 @import "./overall.css";
 @import "./club.css";
 @import "./loginmain.css";