.recently{
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .recentlr__center{
    width: 75%;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .recently__top{
      width: 100%;
      height: 10%;
      display: flex;
      flex-flow: row wrap;
       align-items: start;
       justify-content: space-between;
          align-items: start;
           padding-top: 3px;
           
           h2{
            font-size: 24px;
            font-weight: bold;
            color: #757575;
           }
           h3{
            font-size: 14px;
            color: #4e5e60;
            font-weight: normal; 
            justify-content: space-between;
            .fa-square-chevron-left{
              padding: 15px;
              column-gap: 10px;
            }
           }    
    }
    .recently__bottom{
      width: 100%;
      height: 75%;
          .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: whitesmoke;
          border: 0.9px solid rgb(226, 221, 221);
      border-radius: 25px;
      box-sizing: border-box;
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
      background-color: #ffffff;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-flow: column wrap;
      .recently__text{
        font-size: 14px;
        font-family: var(--shabnam);
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        align-items: center ;
         line-height: 25px;
        color: #000000de;
        padding-top: 10px;
        padding-right: 5px;
      }
    }

    .swiper-slide img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px 15px 15px 15px;
    }
    }
       .image2{
      width: 100%;
      height: 60%;
      display: flex;
    }
        .swiper-button-next{
      width: 25px;
      height: 25px;
      background-color: aliceblue;
      border-radius: 50px;
      transform: 200ms;
      border: 0.9px solid rgb(226, 221,221);
      background-color: #ffffff;
      display: flex;
      position: absolute;
      left: 1px;
      box-sizing: border-box;

      &:hover {
        background-color: gray;
      }
      &:hover svg {
        color: whitesmoke;
      }
      svg {
        color: gray;
        width: 10pv;height: 10px;
      }
    }
    .swiper-button-prev{
            width: 25px;
      height: 25px;
      background-color: aliceblue;
      border-radius: 50px;
      transform: 200ms;
      border: 0.9px solid rgb(226, 221,221);
      background-color: #ffffff;
      display: flex;
      position: absolute;
      left: 1px;
      box-sizing: border-box;

      &:hover {
        background-color: gray;
      }
      &:hover svg {
        color: whitesmoke;
      }
      svg {
        color: gray;
        width: 10pv;height: 10px;
      }
    }
  }
}