.scorol{
    width: 100%;
    height: 100px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .paragraf{
        width: 75%;
        height: 80%;
        display: flex;
        flex-flow: row wrap;
        .paragref__right{
            width: 10%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            .paragraf__center{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-weight: normal;
                font-family: var(--pernum);
                color: #757575;
            }
        }  
           .paragraf__time{
            width: 40%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        } 
        .time{
            font-size: 11px;
            color: #757575;
            font-family: var(--shabnam);
        }
        .location{
            width: 35%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            align-items: center;
            .location2{
                font-size: 12px;
                font-family: var(--shabnam);
                color: #757575;
                font-weight: normal;
            }
        }
        .click{
            width: 15%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .click__up{
                     width: 80px;
                        height: 35px;
                        background:#ffffff;
                        border-radius: 15px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-decoration: none;
                        transition: 600ms;
                          span{
                            font-family: var(--shabnam);
                            color: #757575;
                            font-size: 10px;
                            font-weight: normal;
                            
                                &:hover{
                            color: #2b2b2b;
                        }
                           .ghoto__up{
                          display: flex;
                          flex-flow: row wrap;
                          justify-content: end;
                          align-items: center;
                           }
                        }
            }
        }
    }
}